a{
  color: red;
}
html{
  height: 3200px;
}
#podImage{
  /*position: relative;*/
  left: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#signature{
  /*position: relative;*/
  /*position: absolute;*/
  left: 100px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Nova Mono', monospace;
  font-size: 250%;
}
#therefore{
  font-family: 'Nova Mono' monospace;

}

#fishImage{
  position: relative;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.language-java{
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px;
}
#carriageDefn{
  margin-bottom: 25px;
  font-family: 'Nova Mono', monospace;
  padding: 10px 10px 10px 10px;
}
span{
  margin: 3px 3px 3px 3px;
}
pre{
  margin: 0px 0px 0px 0px;
}

.centerWrapper{
  /*padding: 100px;
  width: 600px;
  height: 5000px;
  left: 50%;
  margin-left: 50%;*/
  /*margin-right: 50%;*/
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}
